body {
background: #f0f8ff;
-webkit-text-size-adjust: 100%;
}

head{
}


h1{
font-weight: bold;
  font-size: 20px;
  padding: 15px 10px;
  background-color: #eee;
  border-bottom: 4px solid #ccc;
    position: center;
  
}
